
.App {
  text-align: center;
}


.landingPage {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.landingPage > span {
  margin: 0;
  display:   flex;
  flex-wrap: wrap;
  height:    100vh;
  width: 49.5vw;
  max-width: 50vw;
  justify-content: center;
}

.landingPage > span:first-child div{
  max-height:100%;
  max-width:100%;
 
  /* background-image: url(../public/pexels-ylanite-koppens-796605.jpg) ; */
  /* background-color:  rgb(2, 114, 179);
  background-color: goldenrod;
  color: white;
  font: Arial; */
}

.landingPage > span:last-child {
  background-color: rgb(2, 114, 179);
   /* background-color: black; */
  /* background-color: goldenrod; */
  color: white;
  font: Arial;
}


.landingPage h1{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 50px;
  letter-spacing: 0px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.landingPage p {
  font-size: 30px;
}

.landingPage div {
  width: 80%;
  justify-content: center;
  margin: auto;
}

.landingPage button {
  margin-top: 10px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
}

.landingPage button:hover {
  cursor: pointer;
}


.landingPage img {
  min-height: 100% ;
  max-width: 100%;
  margin: auto;
}








.signup-form-container{
  width: 100vw;
  height: 100vh;
  background-color: rgb(2, 114, 179);
}

.signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  display: flex;
  box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.3);
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  text-align: left;
  
}

.signup-form label {
  margin-bottom: 10px;
  /* text-align: left; */
}

.signup-form input[type="text"],
.signup-form input[type="email"],
.signup-form input[type="password"],
.signup-form button {
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
}

.signup-form input[type="checkbox"] {
  margin-right: 10px;
}

.signup-form button {
  background-color: #1e90ff;
  color: #fff;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #4e4eff;
}








nav {
  background-color: rgb(2, 114, 179);
  min-height: 5%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
  min-height: 100%;
  margin-top: 5px;
}

a {
  display: block;
  color: #fff;
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  min-height: 100%;
}

.active {
  /* background-color: rgb(2, 114, 179); */
  /* background-color: rgb(182, 182, 161); */
  /* background-color: rgb(223, 223, 197); */
  /* background-color: rgb(216, 216, 194); */
  background-color: #dfdcd0;
  /* background-color: #e7e3d8; */
  /* color: rgb(216, 216, 194); */
}

.logout {
  float: right;
}



.homepage {
  width: 100vw;
  height: 100vh;
}






/*Create event container styles*/
.create-event-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/pexels-roman-odintsov-6798412.jpg");
  
  height: 100vh; /* Adjust this value based on your layout requirements */
}



.create-event {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  /* background-color: #f5f5f5; */
  background-color: #dfdcd0;
  color: rgb(2, 114, 179);
  border-radius: 10px;
}

.create-event h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.create-event-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.form-field label {
  font-weight: bold;
  margin-right: 1rem;
}

.form-group input,
textarea,
select {
  width: 100%;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  font-size: 1rem;
}

.form-group textarea {
  resize: none;
  height: 100px;
}

.form-submit {
  display: flex;
  justify-content: center;
}

.form-group button {
  background-color: #3498db;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-group button:hover {
  background-color: #2980b9;
}

.goback {
  margin-left: 10px;
}
/* .form-group button:hover {
  background-color: #2980b9;
} */







/*Event list styles*/
.event-list{
  background-image: url("../public/pexels-tara-winstead-7723814.jpg");
  justify-content: center;
  /* background-image: url("../public/pexels-roman-odintsov-6798412.jpg"); */
}

.event-item {
  background-color: #e7e3d8;
  /* margin-top: 20px; */
  background-color: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  /* margin-bottom: 20px; */
  max-width: 50vw;
  margin: auto;
  border: 1px solid grey; 
  transition: transform 0.2s ease-in-out; /* Add transition for smooth effect */
  /* margin: 10px auto; */
}

.event-item:hover {
  /* background-color: #e7e3d8; */
  /* margin-top: 20px; */
  cursor: pointer;
  transform: scale(1.02); 
  background-color: black; ;
  color:  #e7e3d8;
}
  

.event-item h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.event-item p {
  margin: 0;
}




.event-card-container{
  background-image: url("../public/pexels-roman-odintsov-6798412.jpg");
  /* background: linear-gradient(to top, #2980b9, #e7e3d8); */
  /* background- */
  min-height: 100vh;
  min-width: 100vw;
  /* display: flex; */
  /* background-color: red; */
}


.event-card {
  /* background: linear-gradient(to top, #2980b9, #e7e3d8); */
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.event-card h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.event-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 5px;
}


/* Add this to your existing EventCard.css file */
.event-card button {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 70px;
  justify-content: center;
  width: 70%;
}

.event-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.event-card button:hover {
  background-color: #0056b3;
}


.event-details{
  max-width:  100%;
  max-height: 100%;
}



.about-page {
  width: 100vw;
  height: 100vh;
  /* background-image: url("../public/82b1d5c4-1773-4c2a-a850-dd6abcacbce1.png"); */
  background-image: url("../public/pexels-tara-winstead-7723814.jpg");
  /* background-image: url("../public/pexels-roman-odintsov-6798412.jpg"); */
}


.about {
  background-color:  #e7e3d8;
  padding: 2rem;
  max-width: 800px;
  margin: 0px auto;
  line-height: 1.5;
  font-family: Arial, sans-serif;
  color: #333;
  border: 2px solid grey;
}

.about img {
  max-height: 450px;
  max-width: 100%;
}

.about h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.about p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.about strong {
  font-weight: bold;
}